
mixin header_menu()
	// header menu
	header.head-main
		.container
			.row
				.col-lg-4.col-md-4.col-sm-12.col-xs-12
					a.logo(href='#')
						img(src='img/logo-footer.png', alt='Ремонт квартир')
				.col-lg-8.col-md-8.col-sm-12.col-xs-12
					nav
						ul.menu-nav.hidden-md.hidden-sm.hidden-xs
							li
								a(href='#') О компании
							li
								a(href='#') Наши услуги
							li
								a(href='#') Каталог
							li
								a(href='#') Сотрудничество
							li
								a(href='#') Новости
							li
								a(href='#') Контакты
						botton.toggle-mnu.hidden-lg
								span.sandwich
									span.sw-topper
									span.sw-bottom
									span.sw-footer
				.col-xs-12
					nav.hidden-mmu.hidden-lg.clearfix
						ul
							li.active
								a(href='/index.html') О компании
							li
								a(href='/advents.html') Наши услуги
							li
								a(href='/product.html') Каталог
							li
								a(href='/contact.html') Сотрудничество
							li
								a(href="/odnookno.html") Новости
							li
								a(href="#") Контакты





			
			
						



