 
mixin baners
	// baners
	section.baners
		.container
			.row
				.baners-blocks
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.baner-wrap
							.baner-img-wrap
								img(src="img/baners/img1.jpg", alt="img1" class="baner-img")
							.baner-content-wrap
								a(href="#", title="title" class="baner-heading")
									| Автомобильные перевозки
								p.baner-desc
									| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей.
							a(href="#", title="title" class="baner-button") 
								| Подробнее
								i(class="fa fa-arrow-right")
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.baner-wrap
							.baner-img-wrap
								img(src="img/baners/img2.jpg", alt="img1" class="baner-img")
							.baner-content-wrap
								a(href="#", title="title" class="baner-heading")
									| Авиаперевозки
								p.baner-desc
									| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей.
							a(href="#", title="title" class="baner-button") 
								| Подробнее
								i(class="fa fa-arrow-right")
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.baner-wrap
							.baner-img-wrap
								img(src="img/baners/img3.jpg", alt="img1" class="baner-img")
							.baner-content-wrap
								a(href="#", title="title" class="baner-heading")
									| Железнодорожные перевозки
								p.baner-desc
									| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей.
							a(href="#", title="title" class="baner-button") 
								| Подробнее
								i(class="fa fa-arrow-right")
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.baner-wrap
							.baner-img-wrap
								img(src="img/baners/img4.jpg", alt="img1" class="baner-img")
							.baner-content-wrap
								a(href="#", title="title" class="baner-heading")
									| Морские перевозки
								p.baner-desc
									| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей.
							a(href="#", title="title" class="baner-button") 
								| Подробнее
								i(class="fa fa-arrow-right")