
mixin footer
	// footer
	footer
		.container
			.footer-content-wrap
				.row
					.col-lg-12.col-md-12
						p.footer-text
							| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой. По своей сути рыбатекст является альтернативой традиционному lorem ipsum.
				.row
					.footer-buttom
						.col-lg-3.col-md-3.col-sm-12.col-xs-12
							.footer-copyright
								i(class="fa fa-copyright")
								| &nbsp;&nbsp;2013-2018, OOO "SLAM Technologies"
						.col-lg-6.col-md-6.col-sm-12.col-xs-12
							.footer-nav
								ul
									li
										a(href="#", title="Ссылка меню")
											| Политика в отношении персональных данных
									li
										a(href="#", title="Ссылка меню")
											| Карта сайта
						.col-lg-3.col-md-3.col-sm-12.col-xs-12
							.footer-develop-site
								p Разработка сайта&nbsp;&nbsp;-
								a(href="#", title="Ссылка разработчика") S.L.A.M.
						



		
							
